@import './components/Navbar.css';
@import './components/Footer.css';
@import './pages/Welcome.css';
@import './pages/Courses.css';
@import './pages/Login.css';
@import './pages/Registration.css';


:root {
	--mainColor: #6975a4;
	--mainColorLight: #5767aa;
	--mainColorDark: #495c73;
	--mainColorLightest: #d1e5ff;
	--secondaryColor: #292b30;
	--textColor: #e8f2ff;
	--bgColor: #e8f2ff;
	/* --bgColor: rgb(215, 212, 212); */
  --buttonBack: #007bff;
  --buttonHover: #0056b3;
}
/* 
palette:{
  --mainColor: #6975a4;
  #495c73,
  #e8f2ff,
  #d1e5ff,
  #ffffff
} */


* {
	padding: 0;
  margin: 0;
	box-sizing: border-box;
	font-family:'Times New Roman', Times, serif  ,sans-serif, Arial, Helvetica, sans-serif;
}

html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  background-color: var(--bgColor);
  min-height: 100vh;
  /* flex: 1;
  flex-grow: 1; */
  color:var(--secondaryColor);
}


h1, h2{
  text-align: center;
  align-items: center;
  justify-content: center;

}





/* Responsive */


/* Courses */
@media only screen and (max-width: 768px) {
  .container-courses {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .courses-options {
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    font-size: smaller;
    margin-top: 2rem;
  }

  .p-option {
    padding: 0.5rem 1rem;
  }

  /* ... Other existing styles for Courses ... */
}

/* Login */
@media only screen and (max-width: 768px) {
  .login-form {
    width: 80%;
    margin: 0 auto;
  }

  .login-container{
    margin: 1rem 0 4rem;
  }

  /* ... Other existing styles for Login ... */
}

/* Footer */
@media screen and (max-width: 768px) {
  html{
    margin-top: -3rem;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    text-align: center;
  }

  /* ... Other existing styles for Footer ... */
}

/* Additional breakpoint at 400px */
@media only screen and (max-width: 400px) {
  /* Add your specific styles for screens up to 400px */
}
