/* Footer.css */

.footer {
  background-color: var(--mainColor);
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  left: 0;
  color: var(--textColor);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: large;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: inherit;
}

.footer-links a:hover{
  color: var(--mainColorLightest);
}

.footer-copyright {
  text-align: center;
  font-size: small;
}

.p-footer-logo {
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-column {
    text-align: center;
  }
}
