.update-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0; 
}

.update-user-form {
  min-width: 40%;
  background-color: #e0dddd;
  padding: 1rem;
  border-radius: 10px;
  /* box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.315); */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.315);
}

.update-user-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.update-user-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.update-user-form input[type="text"],
.update-user-form input[type="email"],
.update-user-form input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  margin-bottom: 0.8rem;
}

.update-user-form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0 0 1rem auto; /* Center the button horizontally and add margin to control spacing */
  display: block; /* Ensure the button takes up full width */
  width: 100%;
}

.update-user-form button:hover {
  background-color: #0056b3;
}

.update-user-form a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.2s;
}

.update-user-form a:hover {
  color: #0056b3;
}

.update-user-login-error {
  color: red;
}

.update-user-login {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.update-user-label-edit {
  color: rgb(7, 151, 7);
}

@media screen and (max-width: 786) {
  
  .update-user-form{
    width: 80%;
  }
}