.user-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center align */
  justify-content: flex-start; /* Vertically align at the top */
}

.subscribe-button {
  margin: 2rem; /* Add some top margin for spacing */
}
